@charset "UTF-8";

/*
    Em html é id = em css é # (so pdoe um elemento)
    Em html é class = em css é . (mais de um elemento) 
*/

body{
    background-color: rgb(104, 172, 104);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(41, 85, 41);

}

h1#principal {
    text-align: center;
    background-color: rgb(41, 85, 41);
    color: white;
}

h2 {
    color:rgb(23, 121, 23)
}

.basico {
    color: rgb(23, 121, 23);
    font-weight: bold;
}

.intermediario {
    color: rgb(196, 203, 69)
}

.avançado {
    color: rgb(199, 45, 45)
}

.destaque {
   background-color: rgba(207, 207, 87, 0.694); 
}